APP_APP_NAME=fastapi-microservice
APP_ENVIRONMENT=development
APP_DEBUG=true
APP_DATABASE_URL=postgresql+psycopg://postgres:12312331@localhost:5432/postgres
APP_DATABASE_SCHEMA=migros_store
APP_LOG_LEVEL=INFO
